@media (max-width: 800px) {
  .header__link.header__link--active::after {
    display: none;
  }
  .timer__time span {
    font-size: 89px;
  }
  .timer-decor {
    font-size: 89px;
  }
  .the-graphic-collection__title {
    font-size: 45px;
  }
  .the-graphic-collection__subtitle {
    font-size: 33px;
  }
  .btn {
    font-size: 11px;
  }
  .header__link {
    font-size: 17px;
  }
  .header__link.header__link--coming-soon {
    font-size: 15px;
  }
  .header__link.header__link--coming-soon:before {
    font-size: 15px;
    top: -15px;
  }
  .timer__time {
    padding: 39px 0;
  }
  .btns-wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media (max-width: 480px) {
  .header__top-wrapper {
    margin-top: 10px;
  }
  .header__bottom-wrapper {
    display: flex;
    justify-content: end;
    margin-top: 20px;
  }
  .header__bottom-wrapper--active {
    & .menu-burger {
      z-index: 2;
    }
  }
  .menu-burger {
    display: block;
    width: 60px;
    height: 50px;
    position: relative;

    span {
      border: 1px solid #000;
      display: block;
      height: 5px;
      width: 100%;
      background: #fcbc41;
      position: absolute;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }

      &:nth-child(3) {
        bottom: 0;
      }
    }
  }
  .header__bottom-wrapper--active {
    & .header__nav {
      z-index: 1;
      display: block;
      position: absolute;
      background: rgba(#000, 0.9);
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
  .header__nav {
    display: none;
  }
  .header__ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .header__li + .header__li {
    margin-top: 20px;
  }
  .header__link {
    color: #fcbc41;
  }
  .header__link {
    font-size: 35px;
  }
  .header__link.header__link--coming-soon {
    font-size: 25px;
  }
  .off-scroll {
    overflow: hidden;
  }
  .btns {
    flex-direction: column;
  }
  .btn-share {
    margin-top: 10px;
  }
  .timer__time span {
    font-size: 62px;
  }
  .timer__time {
    padding: 20px 0;
  }
  .timer-decor {
    margin-top: 0;
  }
  .container-main::before {
    background-position-x: 65%;
  }
}